<!DOCTYPE html>
<html>
<head>
    <title>Go get url! 🏃‍♂️‍</title>
</head>
<body>
    <h1>Go get url! 🏃‍♂️‍</h1>
    <p>This is a simple webpage analyzer. Just past the url of the webpage you want to get insight about and hit Analyze!</p>
    <form method="POST" action="/analyze">
        <label>
            <input type="text" name="url" placeholder="Enter URL" required />
        </label>
        <button type="submit">Analyze</button>
    </form>

    {{ if .Message }}
    <p style="color: green;">{{ .Message }}</p>
    {{ end }}
    {{ if .Error }}
    <p style="color: red;">{{ .Error }}</p>
    {{ end }}
</body>
</html>
